{% load static %}
<title>{{ page_title|default:"درة تريم للأقمشة" }}</title>
<meta
    name="description"
    content="{{ meta_description|default:'تصفحي أحدث الأزياء' }}"
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://durttrim.vercel.app" />
<meta property="og:title" content="درة تريم للأقمشة" />
<meta property="og:description" content="{{ meta_description|default:'تصفحي أحدث الأزياء.' }}" />
<meta property="og:image" content="{% static 'images/logo-gold-transparent.png' %}" />


<!--Google SEO-->
<meta name="google-site-verification" content="Nw2fa1L4QIRwROBucFvq9n1e796Zsbk0XyTbAPx4nyw" />




<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#f6f1ee" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;800;900&family=Tajawal:wght@300;400;500;700;800;900&family=El+Messiri:wght@400;500;600;700&display=swap"
    rel="stylesheet"
/>

<link rel="stylesheet" href="{% static 'css/animations.css' %}" />
<link rel="stylesheet" href="{% static 'css/output.css' %}">
    

{% if site_settings %}
<style>
    :root {
        --color-primary: {{ site_settings.light_color_primary|default:"#30669c" }};
        --color-secondary: {{ site_settings.light_color_secondary|default:"#08121b" }};
        --color-accent: {{ site_settings.light_color_accent|default:"#e0801f" }};
        --color-background: {{ site_settings.light_color_background|default:"#f6f1ee" }};
        --color-surface: {{ site_settings.light_color_surface|default:"#ffffff" }};
    }

    html.dark {
        --color-primary: {{ site_settings.dark_color_primary|default:"#39f2f9" }};
        --color-secondary: {{ site_settings.dark_color_secondary|default:"#e0ebe7" }};
        --color-accent: {{ site_settings.dark_color_accent|default:"#e7994b" }};
        --color-background: {{ site_settings.dark_color_background|default:"#08121b" }};
        --color-surface: {{ site_settings.dark_color_surface|default:"#0c1927" }};
    }

    body {
        background-color: var(--color-background);
        color: var(--color-secondary);
    }
</style>
{% endif %}
