{% block aside %}
<aside class=" md:block w-64 lg:w-72 border-e border-secondary/10 bg-surface">
        <div class="sticky top-19 p-6">
            <ul class="flex flex-col gap-2">
                <li>
                    <a href="/admin"
                     class="{% if request.path == '/admin/' %}active-aside-button{% else %}passive-aside-button{% endif %}">

                        <span class="opacity-70">📊</span> لوحة القيادة
                    </a>
                </li>
                <li>
                    <a href="/admin/products" class="{% if request.path == '/admin/products' %}active-aside-button{% else %}passive-aside-button{% endif %}">
                        <span class="opacity-70">👗</span> إدارة المنتجات
                    </a>
                </li>
                <li>
                    <a href="/admin/settings" class="{% if request.path == '/admin/settings' %}active-aside-button{% else %}passive-aside-button{% endif %}">
                        <span>🎨</span> إعدادات المظهر
                    </a>
                </li>
            </ul>
        </div>
    </aside>
{% endblock %}
